name: release-please

on: 
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      prs_created: ${{ steps.release.outputs.prs_created }}
      prs: ${{ steps.release.outputs.prs }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.TMP_RELEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          target-branch: main